
.heading{
    text-align: center; 
    font-size: 3.2em;
    font-weight: 500;
    color: blueviolet;
    /*pixel font*/
    font-family: 'Press Start 2P', cursive;
}

body{
    /*pixel font*/
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: blueviolet;
    background-color: #000000;
}

#canvasContainer{
    border: 1px solid blueviolet;
    width: 500px;
    height: 600px;
    margin: auto;
    position: relative;
    text-align: left
}

canvas {
    border: 1px solid blueviolet;
    background-color: #000000;
}

